.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
    min-height: 100vh;
}

.header {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    /* Тёмный цвет для заголовка */
}

.formWrapper {
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
   
    padding: 20px;
    border-radius: 8px;
   
    display: flex;
  
}

.searchWrapper {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.contactListWrapper {
   
    max-width: 600px;
}


