.link {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
.nav {
    display: flex;
    gap: 20px;
}


.navLink {
    text-decoration: none;
    color: #fff;
}

.activeLink {
   
    color: #ff0000;
    font-size: 20px;
}