.link {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}

nav {
    margin-right: 25px;
}
.link {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}

.activeLink {
    font-weight: bold;
    color: #ff0000;
    font-size: 20px;
}